#bg {
	background-image: url(http://38.media.tumblr.com/4c4837e03ecf15edb03e325cc8ce5a12/tumblr_n9m5ezICYh1qd5kebo1_1280.gif);
}

.container {
	margin-top: 10px;
}

.middle {
	height: 400px;
    display: flex;
    /* flex-direction: column;*/
    align-items: center; 
    /* justify-content: center;*/
}

.embed-responsive-16by9 {
	padding-bottom: 5%;
}

.filler-blue {
  background-color: #708593;
}

.filler-green {
	background-color: #68E598;
}

.filler-pink {
	background-color: #FFEDDF;
}

.filler-orange {
	background-color: #FFC181;
}

.filler-grey {
	background-color: #3C474B;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

h1#purple {
	color: #DECDF0;
}
h1#purple {
	color: #DECDF0;
}